
.nav-bar {
    padding: 20px 0;
    text-align: right;
    display: flex;
    top: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    color: rgb(10, 10, 10);
    text-decoration: none;
  }
