<%- include('layout/header') %>

  <div class="container1">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table-container">
            <thead>
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <td>1</td>
              <td><img src="" alt=""></td>
              <td>Tuyizere Fidela</td>
              <td>fidela@gmail.com</td>
              <td>095667543</td>
              <td>
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash"></i></a>
              </td>
              
            </tbody>
            <tbody>
              <td>1</td>
              <td><img src="" alt=""></td>
              <td>Tuyizere Fidela</td>
              <td>fidela@gmail.com</td>
              <td>095667543</td>
              <td>
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash"></i></a>
              </td>
              
            </tbody>
            <tbody>
              <td>1</td>
              <td><img src="" alt=""></td>
              <td>Tuyizere Fidela</td>
              <td>fidela@gmail.com</td>
              <td>095667543</td>
              <td>
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash"></i></a>
              </td>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <%- include('layout/footer') %>